/* Tema Claro - Ajustado */
.light-theme .chat-header {
  background-color: #00bcd4;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 12px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.light-theme .sender {
  font-weight: bold;
  color: #333;
}

.light-theme .date {
  font-size: 12px;
  color: #666;
}

.light-theme .user-message {
  background-color: #e0f7fa;
  color: #333;
  text-align: left;
  border-radius: 18px;
  padding: 12px 18px;
  margin: 10px 0;
  width: fit-content;
  align-self: flex-start;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease, box-shadow 0.2s ease;
}

.light-theme .user-message:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.light-theme .bot-message {
  background-color: #f4f4f4;
  color: #555;
  text-align: right;
  border-radius: 18px;
  padding: 12px 18px;
  margin: 10px 0;
  width: fit-content;
  align-self: flex-end;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease, box-shadow 0.2s ease;
}

.light-theme .bot-message:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.light-theme .input-container {
  display: flex;
  gap: 12px;
  padding: 12px;
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
  align-items: center;
  transition: box-shadow 0.2s ease;
}

.light-theme input[nbInput] {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px 16px;
  background-color: #fff;
  color: #333;
  font-size: 15px;
  transition: border-color 0.2s ease;
}

.light-theme input[nbInput]:focus {
  border-color: #00bcd4;
}

.light-theme button[nbButton] {
  border-radius: 20px;
  color: white;
  background-color: #009688;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.light-theme button[nbButton]:hover {
  transform: scale(1.1);
  background-color: #00796b;
}

.light-theme mat-icon {
  font-size: 26px;
  color: #333;
}

.light-theme .custom-drawer {
  width: 16%;
  background-color: #fafafa;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  overflow: auto;
  color: #333;
}

.light-theme .drawer-header {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #444;
  border-bottom: 2px solid #ddd;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.light-theme .drawer-item-container {
  display: flex;
  flex-direction: column;
}

.light-theme .drawer-list-item {
  padding: 12px;
  margin: 8px 0;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: #333;
  font-size: 17px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.light-theme .drawer-list-item:hover {
  background-color: #e0f7fa;
  transform: scale(1.05);
}


/* Tema Oscuro */
.dark-theme .chat-header {
  background-color: #121212;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 12px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.dark-theme .sender {
  font-weight: bold;
  color: white;
}

.dark-theme .date {
  font-size: 12px;
  color: #bbb;
}

.dark-theme .user-message {
  background-color: #2c2c2c;
  color: white;
  text-align: left;
  border-radius: 18px;
  padding: 12px 18px;
  margin: 10px 0;
  width: fit-content;
  align-self: flex-start;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease, box-shadow 0.2s ease;
}

.dark-theme .user-message:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
}

.dark-theme .bot-message {
  background-color: #37474f;
  color: white;
  text-align: right;
  border-radius: 18px;
  padding: 12px 18px;
  margin: 10px 0;
  width: fit-content;
  align-self: flex-end;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease, box-shadow 0.2s ease;
}

.dark-theme .bot-message:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
}

.dark-theme .input-container {
  display: flex;
  gap: 12px;
  padding: 12px;
  background: #222;
  border-radius: 10px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.7);
  align-items: center;
  transition: box-shadow 0.2s ease;
}

.dark-theme input[nbInput] {
  flex-grow: 1;
  border: 1px solid #444;
  border-radius: 20px;
  padding: 12px 16px;
  background-color: #444;
  color: white;
  font-size: 15px;
  transition: border-color 0.2s ease;
}

.dark-theme input[nbInput]:focus {
  border-color: #00897b;
}

.dark-theme button[nbButton] {
  border-radius: 20px;
  color: white;
  background-color: #00838f;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.dark-theme button[nbButton]:hover {
  transform: scale(1.1);
  background-color: #006f72;
}

.dark-theme mat-icon {
  font-size: 26px;
  color: white;
}

.dark-theme .custom-drawer {
  width: 16%;
  background-color: #171313;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.8);
  overflow: auto;
  color: white;
}

.dark-theme .drawer-header {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-bottom: 2px solid #444;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.dark-theme .drawer-item-container {
  display: flex;
  flex-direction: column;
}

.dark-theme .drawer-list-item {
  padding: 12px;
  margin: 8px 0;
  background-color: #444;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 17px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

/* para el cambio de tema */
.theme-button-container {
  display: flex;
  align-items: center;
  gap: 18px;
}

.theme-button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.theme-button mat-icon {
  margin-right: 10px;
}

.light-theme .sidebar-input {
  width: 100%;
  padding: 10px 14px;
  font-size: 15px;
  border: 2px solid #ddd;
  border-radius: 20px;
  background-color: #f9f9f9;
  color: #333;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.light-theme .sidebar-input:focus {
  border-color: #00bcd4;
  box-shadow: 0 0 6px rgba(0, 188, 212, 0.5);
}

.dark-theme .sidebar-input {
  width: 100%;
  padding: 10px 14px;
  font-size: 15px;
  border: 2px solid #444;
  border-radius: 20px;
  background-color: #2c2c2c;
  color: #fff;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.dark-theme .sidebar-input:focus {
  border-color: #00897b;
  box-shadow: 0 0 6px rgba(0, 137, 123, 0.5);
}

/* Estilo para el texto Botsi en Light Mode */
.botsi-light {
  color: #000000; /* Verde agua */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

/* Estilo para el texto Botsi en Dark Mode */
.botsi-dark {
  color: #fafafa; /* Naranja */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

