.chat-header {
  background-color: #1e90ff;
  color: white;
  text-align: center;
  font-size: 32px; 
  font-weight: bold;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nb-chat {
  height: calc(100vh - 150px);
  overflow-y: auto;
  padding: 20px;
  background: linear-gradient(to bottom, #f5f5f5, #e0e7ff);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sender {
  font-weight: bold;
  color: #333;
}

.date {
  font-size: 12px;
  color: #777;
}

/* Mensajes del Usuario */
.user-message {
  background-color: #e6f7ff;
  color: #333;
  text-align: left;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 8px 0;
  width: fit-content;
  align-self: flex-start;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease;
}

.user-message:hover {
  transform: scale(1.05);
}

/* Mensajes del Bot */
.bot-message {
  background-color: #f0f0f0;
  color: #555;
  text-align: right;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 8px 0;
  width: fit-content;
  align-self: flex-end;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease;
}

.bot-message:hover {
  transform: scale(1.05);
}

/* Contenedor de Entrada */
.input-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  transition: box-shadow 0.2s ease;
}

.input-container:hover {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

input[nbInput] {
  flex-grow: 1;
  border: 1px solid #a0a0a0;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 14px;
  transition: border-color 0.2s ease;
}

input[nbInput]:focus {
  border-color: #1e90ff;
}

button[nbButton] {
  border-radius: 20px;
  color: white; 
  background-color: #2651ac; 
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

button[nbButton]:hover {
  transform: scale(1.1);
  background-color: #1e90ff;
}
